body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url(../images/symphony.png);
}

header {
    background: #ffffff;
    color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background: #4aaaa5;
    height: 83px;
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
}

a {
    color: #777777;
    text-decoration: none;
}
.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
}

.main-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 960px;
    height: 85px;
}

#About {
    border-right: 1px solid #cccccc;
    padding: 0px 15px 0px 0px;
}

#Portfolio {
    padding: 0px 15px 0px 15px;
    border-right: 1px solid #cccccc;
}

#Contact {
    padding: 0px 0px 0px 15px; 
}

h2 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-bottom:20px;
    border-bottom: solid;
    border-bottom-color: #cccccc;
    background: #ffffff;
}

.container {
    background: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    margin: 0px auto;
    width: 960px;
    border: 1px solid #cccccc;
    height: 60vh;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=submit] {
    padding:10px 20px; 
    background:#4aaaa5; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: #ffffff;
}

#blank-space {
    height:15vh;
}

#bio-image {
    width: auto;
    max-height: 200px;
    float: left;
    margin-right: 20px;
}

footer {
    background-color:#666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    height: 10vh;
    color:#ffffff;
    font-size: xx-small;
}

.column {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vh;

}

.box {
    height: 150px;
    width: 250px;
    border: solid red;
    margin: 20px;
}

.image-container {
    height: 170px;
}

.image {
    height: 150px;
    width: 250px;
    border: solid red;
    margin: 20px;
}

#image1 {
    height: 20%;
    width: 250px;
    border: solid red;
    z-index: 1;
    position: relative;
    text-align: center;
    bottom: 35%;
    left: 7%;
    margin: 0%;
    background-color:#4aaaa5;
    display: flex;
}
