body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url(../images/symphony.png);
    margin: 0%;
    font-size: 20px;
}

header {
    background: #ffffff;
    color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background: #4aaaa5;
    display: flex;
    align-items: center;
    margin:0%;
}

a {
    color: #777777;
    text-decoration: none;
}
.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
}

.main-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 960px;
    height: 85px;
}

#About {
    border-right: 1px solid #cccccc;
    padding: 0px 15px 0px 0px;
}

#Portfolio {
    padding: 0px 15px 0px 15px;
    border-right: 1px solid #cccccc;
}

#Contact {
    padding: 0px 0px 0px 15px; 
}

h2 {
    color:#4aaaa5;
    margin-bottom:20px;
    border-bottom: solid;
    border-bottom-color: #cccccc;
    background: #ffffff;
    font-size: 35px;
}

.container {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    margin: 5vh auto;
    width: 960px;
    border: 1px solid #cccccc;
    min-height: 50vh;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=submit] {
    padding:10px 20px; 
    background:#4aaaa5; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: #ffffff;
}

#bio-image {
    width: auto;
    max-height: 200px;
    float: left;
    margin-right: 20px;
}

footer {
    background-color:#666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    margin-top: 30vh;
    height: 10vh;
    color:#ffffff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gridbox {
    display:flex;
    justify-content: space-around;
    width: 960px;
}

.column {
    display: flex;
    align-content: space-evenly;
    height: 100%;
    position: relative;
    right: 2%; 
}

.image {   
    height: 195px; 
    width: 265px;
    margin: 20px;
    position: relative;
}

.banner {
    background-color:#4aaaa5;
    width: 267px;
    height: 64px;
    z-index: 4;
    position: relative;
    bottom: 25%;
    left: 13%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 25px;
}