body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background: lightgreen;
    background-image: url(../images/greek-vase.png)
}

header {
    background: #ffffff;
    box-sizing: border-box;
    border-style: solid;
    border-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    
}

h1 {
    background: #4aaaa5;
    margin: 0%;
    padding: 18px;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline;
}

h2 {
    margin-bottom:auto;
    background: #ffffff;
    padding: 20px;
    margin: 0% auto;
    width: 960px;
    border-style: solid;
    border-color: red;
}


.container {
    background: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    border-top-color: grey;
    border-top: solid;
    margin: 0px auto;
    width: 960px;
    border-style: solid;
    border-color: red;
}

#bio-image {
    width: auto;
    max-height: 200px;
    float: left;
    margin-right: 20px;
}

footer {
    background-color:#666666;
}